//Paleta de colores
$color-primary:#437057;
$color-primary-emphasis:#2F5249;
$color-primary-light: #89c092;
$color-info: #E5E0D8;
$color-info-emphasis: #b68f67;
$color-light:#F8F8F8;
$color-dark: black;

//Tipografías
$font-base: "Cormorant Garamond", serif;
$font-title: "Fleur De Leah", cursive;

