@use '../abstracts/variables' as *;
@use '../abstracts/mixins';

.footer {
    display: flex;
    flex-direction: column;
    background-color: #437057;
    color: #F8F8F8;
    padding: 20px;
    margin-top: 50px;
    height: 100px;
    @include mixins.mobile {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
    }
    &__about{
        display: flex;
        justify-content: space-evenly;

        @include mixins.mobile {
            flex-direction: column;
            margin-left: 1rem;
        }
    }
    &__descripcion{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 40vw;
    }
    &__redes{
        display: flex;
        flex-direction:row;
        gap: 8px;
        margin: 10px 0;
    }
    &__contact{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__list{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__copy{
        text-align: center;
        padding-bottom: 0.5rem;
    }
}