@use '../abstracts/variables' as *;
@use '../abstracts/mixins';

main{
    width: 80%;
    box-sizing: border-box;
    margin: 20px auto ;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid lightgray;
    padding: 20px;
}